:root {
	font-size: 16px;
	font-family: 'Inconsolata';
	--text-primary: #b6b6b6;
	--text-secondary: #ececec;
	--bg-primary: #198B18 ;
	--bg-secondary: #C87F10 ;
}

body{
	width: 100%;
	color: white;
	background-image: url(img/behind-picture.jpeg);
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	padding: auto;
	margin: 0px auto 3rem;
}

hr{
    background-color: var(--bg-secondary);
    height: 1px;
}

main{
	border: 1px solid green;
	padding-left: 2.25%;
	padding-right: 2.25%;
	margin-left: 6rem;
	margin-right: 6rem;
	width:85%;
	background: rgba(0, 0, 0, 0.5);
  	border-radius: 10px;
}

p{
	text-align: justify;
	text-justify: inter-cluster;
}

.profile-container{
	padding: 2rem;
	width: auto;
    	overflow: hidden; /* will contain if #first is longer than #second */
}

.profile-text-container {
	width: 70%;
	padding-right: 3rem;
    	float:left; /* add this */
}

.profile-img-container {
	padding: 0;
    	float:left; /* add this */
}
.mypic{
	margin-bottom:0;
	padding:0;
}

p.profile-description{
	display: inline-block;
}

.pl-title:before{
	display: block;
  	content: '';
	height:2rem;
}

h1.pl-title{
	margin-top: 2rem;
	text-align: right;
}

.pl-title:before{
	display: block;
  	content: '';
	height:2rem;
}

h1.ptf-title{
	margin-top: 2.5rem;
	margin-bottom:1rem;
	text-align: center;
}

body::-webkit-scrollbar {
  width: 0.7rem;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background: #662a8b;
}

.nav-bar-container{
	width: 5rem;
	height: 100vh;
	position: fixed;
	background-color: var(--bg-primary);
	transition: width 250ms ease;
}

.nav-bar{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.nav-item{
	margin-top:2rem;
	width: 100%;
}

.nav-link{
	display: flex;
	align-items: center;
	height: 5rem;
	color: var(--text-primary);
	text-decoration: none;
}

.link-text{
	display: none;
	margin-left: 1rem;
	color: black;
}

.nav-link svg{
	margin: 0 0 1rem 1rem;
	min-width: 2rem;
	margin: 0 1.5rem;
}

.nav-bar-container:hover{
	width: 13rem;
}

.nav-bar-container:hover .link-text{
	display: block;

}

.prc-container{
	margin: 5px;
	padding: 2px;
	width: 100%;
	height: 40px;
	border: 1px solid green;
}

.cpp{
	width: 90%;
	border: 21px solid #D02C2C;
}

.bash{
	width: 90%;
	border: 21px solid  #1BA7DE;
}

.python{
	width: 90%;
	border: 21px solid  #B8A108;
}

.c{
	width: 82%;
	border: 21px solid #1ABC4A ;
}

.csharp{
	width: 70%;
	border: 21px solid #0FC5C9 ;
}
.matlab{
	width: 75%;
	border: 21px solid  #175AB9 ;
}
.jv{
	width: 40%;
	border: 21px solid #7529CC ;
}

.haskell{
	width: 25%;
	border: 21px solid #D027E5 ;
}

.R{
	width: 12%;
	border: 21px solid #EA1A8A ;
}

.js{
	width: 5%;
	border: 21px solid #1A6F35 ;
}

.image-grid {
  --gap: 16px;
  --num-cols: 4;
  --row-height: 300px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.image-grid > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-grid-col-2 {
  grid-column: span 2;
}

.image-grid-row-2 {
  grid-row: span 2;
}

/* Anything under 1024px */
@media screen and (max-width: 1024px) {
  .image-grid {
    --num-cols: 2;
    --row-height: 200px;
  }
}

div.center{
	text-align:center;
}

.hb-video-title{
	text-align: center;
}

.ptf-project{
	width: 340px;
	border: 2px solid green;
}

.ptf-project .ptf-project-text{
	text-align: center;
	padding: auto;
}

.ptf-title{
	height: 0.5rem;
	display: block;
  	content: '';
}

footer{
	width: 100%;
}

p.footer{
	color: white;
	padding-left: 5rem;
	padding-right: 5rem;
	margin-left: 5rem;
	margin-right: 5rem;
	width: 100%;
}

.hbs-title{
	height: 0.5rem;
	display: block;
  	content: '';
}

table, th, td {
  border: 3px solid;
}
